<?xml version="1.0" encoding="UTF-8"?>
<odoo>
  <menuitem id="hospital_menu_root"
    name="Hospital"
    sequence="10"
    web_icon="om_hospital,static/description/icon.png" />

  <menuitem id="hospital_patient_root"
    name="Patients"
    sequence="10"
    parent="hospital_menu_root"
    groups="base.group_system" />

  <menuitem id="hospital_doctor_root"
    name="Doctors"
    sequence="20"
    parent="hospital_menu_root"
    groups="base.group_system" />

  <menuitem id="hospital_appointment_root"
    name="Appointments"
    sequence="30"
    parent="hospital_menu_root" />
</odoo>
